*{
    box-sizing: border-box;
   
}
body{
    padding: 0;
    margin: 10%;
    background-color: #f4f7f6;
    font-family: 'KoHo', sans-serif;
    min-height: 100%;
}

header{
    text-align: center;
    background-color: #1d1d1d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:  20px;
    height: 25%;
    

}
.trait{
    width: 10%;
    height: 1px;
    margin: 0px auto;
    display: block;
    background-color: #999999;
   
  
}
section{
    margin: 0;
    text-align: center;
}
section p{
    text-align: justify;
    
    
}
h1{
    margin: 0;
    padding: 5px;
   
    
}
h2{
    font-size: 1.5em;
    width: 50%;
    margin: auto;
    padding: 5px;
}
h3{
    font-size: 1.5em;
}
#logo{
    width: 50px;
   padding: 10px;
   margin: 0 auto;
}
nav{
    background-color: #fff;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, .5);
    font-size: 1.5em;
    text-align: center;
}
ul{
    margin: 0;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px;
    

}
li:hover{
    font-weight: bold;

    
}
a{
    text-decoration: none;
}
footer{
    background-color: #1d1d1d;
    color:#fff;
    text-align: center;
    margin: 0;
    padding: 10px;
}
.contact{
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-radius: 15px;
    margin: 0;
}
.contact p{
    margin: 0;
    padding: 20px;
    text-align: center;
}
/*competences*/

#competences{
    display: flex;
    flex-wrap: wrap;
}
.competence{
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border: 0px solid #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #fff;
   
}
.competence:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.competence .image{
    display: inline-block;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.competence span{
    display: block;
    text-transform: uppercase;
    
}


/*media querries*/

@media  all and (max-width: 1000px) {
    #competences{
        justify-content: center;
    }
    .competence{
        display: block;
        width: 70%;
        height: 100%;
    }
    .competence .image{
        display: block;
        width: 100%;
        
    }
    .competence span{
        font-size:2em;
    }
    nav a{
        font-size: 2em;
    }
    header{
        font-size: 2em;
        height: ;
        
    }
    
}